# Dependencies
node_modules/

# TypeScript cache
\*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
\*.tgz

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Binary
dist
frr-unix
frr-win.exe

# Any other package manager lockfile 
# is ignored, we main `pnpm` for Bun and Node.js support.
package-lock.json
yarn.lock
bun.lockb
